* {
    margin: 0;
}

header {
    background-image: url("../img/pattern.png");
    background-color: royalblue;
    height: 180px;
    background-position-x: right;
}

header img {
    margin-top: 50px;
}

h4, h3 {
    display: inline-block;
}